.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;
    background-image: url(https://pbs.twimg.com/ext_tw_video_thumb/1633432849381457920/pu/img/w-6zEDEtHQPA6DDD.jpg:large); /* Discord's background color */
    background-size:cover;
    background-repeat:no-repeat;
  }
  
  .login-container {
    background-color: #272728;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
  }
  
  .login-container h2 {
    align-items:center;
    text-align:center;
    color: #dcdcdc; /* Discord's primary color */
    font-size: 30px;
    margin-bottom: 20px;
   
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #7289da; /* Discord's primary color */
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #586aaf; /* Darker shade of Discord's primary color */
  }
  
  
  
  